
.container{
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #f5f5f5;
  padding: 24px;
  border-top-left-radius: 30px;
  width: 100vw;
  max-width: 100%;
  max-height: max-content;
  margin-top: -30px;
  flex: 1;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;

  position: relative; /* Garante que o conteúdo seja posicionado acima da imagem */
  z-index: 1;

  }
  