.cardContainerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cardContainer {
    max-width: 90%;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
    align-content: center;
    cursor: pointer;
    position: relative;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cardOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    background-color: #F4F3FA;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
  .cardTextContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
  
  .cardText {
    font-size: 16px;
    color: #1A1B21;
    margin: 8px;
    font-weight: 500;
  }

  /* page.module.css */

.reservationCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #f4f3fa;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 19rem;
  max-width: 600px;
  border: 1px solid #e0e0e0;
  /* background-color: aquamarine; */
}

.cardImage {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  min-width: 80px;
  min-height: 80px;
}

.reservationDetails {
  flex-grow: 1;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.h3_ {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.pe {
  margin: 0.2rem 0 0;
  font-size: 0.9rem;
  color: #666;
}

.deleteBtn {
  color: red;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

  
  