/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden; /* Impede a rolagem horizontal */
	margin: 0;
	padding: 0; 
	width: 100%; 
	box-sizing: border-box; 
  }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =-=-=-=-=-=-=-=-= Estilo personalizado para o calendario =-=-=-=-=-=-=-=-= */
.fc .fc-toolbar.fc-header-toolbar {
	background-color: #ff4d4d; /* Cabeçalho vermelho */
	color: white; /* Texto branco */
  }
  
  .fc .fc-button {
	background-color: #ff4d4d; /* Botões vermelhos */
	border-color: #ff4d4d; /* Borda dos botões vermelha */
	color: white; /* Texto dos botões branco */
  }
  
  .fc .fc-button:hover {
	background-color: #e60000; /* Botões em hover */
	border-color: #e60000;
  }
  
  .fc .fc-daygrid-event, .fc .fc-timegrid-event {
	background-color: #ff6666; /* Eventos com fundo vermelho claro */
	border-color: #ff4d4d; /* Borda dos eventos vermelha */
	color: white; /* Texto dos eventos branco */
  }
  
  .fc .fc-highlight {
	background-color: #ffe6e6; /* Fundo vermelho claro para seleção */
  }
  /* Reduzir o tamanho da fonte do FullCalendar */
.fc {
	font-size: 1.5vh; /* Ajusta o tamanho da fonte de todos os elementos do calendário */
  }
  
  /* .fc .fc-toolbar-title {
	font-size: 2vh;
  } */
  
  .fc .fc-button {
	font-size: 2vh; /* Ajusta o tamanho da fonte dos botões */
  }
  
  .fc .fc-daygrid-event, .fc .fc-timegrid-event {
	font-size: 2vh; /* Ajusta o tamanho da fonte dos eventos */
  }
  
