/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x: hidden; /* Impede a rolagem horizontal */
	margin: 0;
	padding: 0; 
	width: 100%; 
	box-sizing: border-box; 
  }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =-=-=-=-=-=-=-=-= Estilo personalizado para o calendario =-=-=-=-=-=-=-=-= */
.fc .fc-toolbar.fc-header-toolbar {
	background-color: #CC3737; /* Cabeçalho vermelho */
	color: white; /* Texto branco */
  }
  
  .fc .fc-button {
	background-color: #FA5955; /* Botões vermelhos */
	border-color: #FA5955; /* Borda dos botões vermelha */
	color: white; /* Texto dos botões branco */
	font-size: 1.3vh;
	margin: 0.4vw; 
  }
  
  .fc .fc-button:hover {
	background-color: #920414; /* Botões em hover */
	border-color: #920414;
  }

  .fc .fc-button.fc-button-active {
	background-color: #920414; /* Botões em hover */
	border-color: #920414;
	color: white; /* Texto branco no botão selecionado */
  }

  .fc .fc-button.fc-button-active:hover {
	background-color: #c4451f; /* Fundo mais escuro ao passar o mouse */
	border-color: #c4451f; /* Borda mais escura ao passar o mouse */
  }
  
  .fc .fc-daygrid-event, .fc .fc-timegrid-event {
	background-color: #09132A; /* Fundo dos eventos */
	border-color: #09132A; /* Borda dos eventos */
	color: white; /* Texto dos eventos branco */

  }
  
  .fc .fc-highlight {
	background-color: #ffe6e6; /* Fundo vermelho claro para seleção */
  }

  /* Reduzir o tamanho da fonte do FullCalendar */
.fc {
	font-size: 1.5vh;
  }
  
  .fc .fc-toolbar-title {
	/* font-size: 0.7vw; */
	font-size: 1.5vh;
  }
  .fc .fc-daygrid-event, .fc .fc-timegrid-event {
	font-size: 1.5vh;
  }

  .fc-theme-standard .fc-timegrid-col.fc-day-today {
	background-color: rgba(210, 220, 255, 0.5); /* Fundo para os horários do dia atual */
  }