.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftContainer {
  flex: 1.5;
  background-color: #44464f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  margin-bottom: 20px;
}

.logoContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.logoGrande {
  width: 400px;
  height: 400px;
  border-radius: 50000px;
}

.spaceSchool {
  font-weight: bold;
  font-size: 22px;
  color: #181c1f;
  margin-top: 10px;
}

.bemvindo {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin-top: 50px;
}


.loginButton {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registerLink {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}