.container {
  width: 100%;
}

.cabecalho {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 100%;
  background-color: #e5f1f2;
}

.logoContainer {
  margin-bottom: 500px;
  justify-content: center;
  margin-top: 5px;
  font-weight: bold;
}

.spaceSchool {
  text-align: center;
  color: #181c1f;
  font-weight: bold;
  margin-top: 100px;
  font-size: 22px;
}

.bottomContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loginButton {
  width: 150%;
  background-color: #e5f1f2;
  padding: 15px 25px;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-top: 10px;
  align-items: center;
}

.loginButtonText {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.registerLinkContainer {
  display: flex;
  align-items: center;
}

.registerLinkText {
  color: #4fe0e9;
  text-decoration: underline;
  font-weight: bold;
}

.link {
  margin-bottom: 0;
}

.main {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin-top: 100px;
}

.input {
  height: 40px;
  width: 200%;
  border-color: #e5e8ed;
  background-color: #e5e8ed;
  border-width: 5px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 75px;
  padding-left: 60px;
  font-size: 18px;
}

.iconMail {
  left: 20px;
  top: 12px;
  margin-top: 50px;
}

.iconLock {
  left: 20px;
  top: 70px;
}

.iconSecret {
  position: absolute;
  right: 20px;
  top: -50px;
}

.forgotPasswordButton {
  align-items: center;
  margin-right: 500px;
}

.forgotPasswordText {
  color: #204649;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}