.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftContainer {
  flex: 1.5;
  background-color: #44464f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  margin-bottom: 20px;
  
}

.logoContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.logoGrande {
  width: 400px;
  max-width: 400px;
  height: 400px;
  max-height: 400px;
  border-radius: 100%;
}

.spaceSchool {
  font-weight: bold;
  font-size: 22px;
  color: #181c1f;
  margin-top: 10px;
}

.bemvindo {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin-top: 50px;
}


.loginButton {
  background-color: #CC3737;
  padding: 12px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 25px;
  width: 80%;
  border: none;
}

.loginButtonText {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.registerLink {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  padding: 1rem 0;
  position: fixed; 
  bottom: 0;
}

/* Adicione isso para esconder o LeftContainer em telas móveis */
.hiddenOnMobile {
  display: none;
}

/* Defina estilos específicos para telas móveis se necessário */
@media (max-width: 960px) {
  .leftContainer  {
    display: none;
  }
}

.carouselText {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.carouselSubtitle {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.carouselBible {
  font-size: 16px;
  color: #fff;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}

.carouselText, .carouselSubtitle, .carouselBible {
  width: 100%; /* Certifica que o texto dentro do carrossel não ultrapasse os limites */
}

.carouselWrapper {
  width: 50%; /* Limita a largura do carrossel a 50% da tela */
  max-width: 500px; /* Define um tamanho máximo */
  position: relative;


}

.customArrowPrev,
.customArrowNext {
  position: absolute; /* Posiciona dentro do contêiner do carrossel */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para que fiquem perfeitamente no meio vertical */
  background-color: rgb(253, 3, 3);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.customArrowPrev {
  left: 3000vh; /* Ajuste a posição para ficar dentro do contêiner à esquerda */
}

.customArrowNext {
  right: 30rem; /* Ajuste a posição para ficar dentro do contêiner à direita */
}

.customArrowPrev:disabled,
.customArrowNext:disabled {
  opacity: 0;
  cursor: not-allowed;
}

.customIndicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.selectedIndicator {
  background-color: #666666;
}
