.availabilityContainer {
  align-self: center;
  justify-self: center;
}

.indi {
  text-align: center;
  padding: 10px;
  border: solid #CC3737;
  background-color: #CC3737;
  border-bottom: none;
  color: white;
}